/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Slab&display=swap');

// VARIABLES

$bisque: bisque;
$font-h1: 35px;
$color-h1: red;
$color-p: black;
$font-p: 20px;
$media-font: 12px;


body {
    background-color: beige;
    font-family: 'Oswald', sans-serif;
} 

.navbar-container {
    background-color: $bisque;
    font-size: 20px;  
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}
h1 {
    font-size: $font-h1;
    color: $color-h1;
}
.nosotros p {
    display: flex;
    text-align: center;
    
}
.list-item {
    list-style: none;
    position: relative;
    a {
    font-size: 20px;
    color:$color-h1;
    text-decoration-line: none;
    }
}
img {
    width: 230px;
    height: 230px;
}
p {
    font-size: $font-p;
    color: $color-p;
    font-weight: 500;
    text-align: justify;
}   
footer .logo-final {
    background-color: bisque;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
    text-align: center;
    }
    a {
        img {
            width: 50px;
            height: 50px;
            }
    }
}
.logo-final {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    width: 100px;
    height: 100px;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 300px;
}
.image-main {
    padding-left: 150px;
}



// MEDIA

@media  (max-width: 450px) {
    .main-container p  {
        font-size: $media-font;
}
   .main-container img {
        width: 125px;
        height: 125px;
}
    .nosotros p {
        font-size: $media-font;
    }
    .servicios p {
        font-size: $media-font;
    }
    .cotizacion p {
        font-size: $media-font;
    }
}





